h1 {
  font-family: "Brush Script MT", cursive;
  color: aliceblue;
}

body {
  background-image: url("../../img/coffee-beans-dark-background-top-view-coffee-concept.jpg");
  background-color: rgba(0, 0, 0, 0.856);
  background-size: 100%;
}

label {
  color: aliceblue;
}

button {
  margin-top: 10px;
}
a {
  margin-top: 5px;
  height: 40px;
}
.category {
  background-color: rgb(101, 72, 230);
}
